<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../cssBootstrap/bootstrap.min.css" rel="stylesheet"><!--Asignando Bootstrap-->
    <link rel="stylesheet" type="text/css" href="../fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css"><!--estilos de iconos-->
    <link rel="stylesheet" href="../scss/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <title>E-Gaming/Notebooks</title>
    <meta name="description" content="Busca las mejores Notebooks en Informatica Gaming! La mejor atencion. Los mejores Precios. ">
    <meta name="keywords" content="Notebooks, Notebooks Gammer, Asuss, HP, Lenovo">

</head>

<!--Inicio de body-->
<body>
    <!--Inicio Header-->
    <header>
      <header>
  
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="../img/logo2.jpg" alt="logoE-gaming" width="40" height="40">
            </a>
            <a class="navbar-brand" href="../index.html">E-Gaming</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mr-auto ml-auto text-center">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./ofertas.html">Ofertas</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="./armatupc.html">Arma tu Pc</a></li>
                    <li><a class="dropdown-item" href="./consolasJuegos.html">Consolas/juegos</a></li>
                    <li><a class="dropdown-item" href="./monitores.html">Monitores</a></li>
                    <li><a class="dropdown-item" href="./notebooks.html">Notebooks</a></li>
                    <li><a class="dropdown-item" href="./tecladoymouse.html">Perifericos</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./Registro.html">Registrate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./mediosdePago.html">M.Pago</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./nosotros.html">Nosotros</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        
      </header>

 <!--Inicio de Main-->
 <main class="container"><!--contenedor para Bootstrap-->
  <div>
    <br>
    <h1>Arma tu Pc Gamer</h1>
    <hr>
</div>
<br>
<br>
  <!--grid main Cards-->
  <div class="row row-cols-1 row-cols-sm-4 row-col-sm-12g-3">
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light ">
      <div class="card">
        <img src="../img/componentes/gabinetegamer1.webp" class="card-img-top" alt="gabinetegamer">
        <hr>
        <div class="card-body">
          <h4>$ 13.500</h4>
          <h6>Gabinete Deepcool Matrex 55 mesh</h6>
          <span class="badge bg-success">Nuevo</span>
          <span class="badge bg-dark">Agregar al carrito</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/gabinetegamer2.webp" class="card-img-top" alt="gabinetegamer">
        <hr>
        <div class="card-body">
          <h4>$ 13.500</h4>
          <h6>Gabinete Deepcool Matrex 55 mesh</h6>
          <span class="badge bg-dark">Agregar al carrito</span>
          <div>
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
              <div class="card card-body" style="width: 300px;">
                -Credito hasta 18 cuotas sin interes por MP.  Pago online y entrega a domicilio(VISA, MASTERD).
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/gabinetegamer3.webp" class="card-img-top "  alt="gabinetegamer">
        <hr>
        <div class="card-body">
          <h4>$ 5.990</h4>
          <h6>Gabinete gamer letos Le-y01
          Coolers RGB vidrio templado</h6>
          <span class="badge bg-danger">Oferta</span>
          <span class="badge bg-dark">Agregar al carrito</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/gabinetegamer1.webp" class="card-img-top" alt="gabinetegamer">
        <hr>
        <div class="card-body">
          <h4>$ 16.990</h4>
          <h6>Gabinete gamer Deepcool M-200
          Coolers RGB vidrio templado</h6>
          <span class="badge bg-dark">Agregar al carrito</span>     
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/memoriafury.webp" class="card-img-top" alt="memoriafury">
        <hr>
        <div class="card-body">
          <h4>$ 3.990</h4>
          <h6>Memoria ram Fury DDR4 gamer color negro 4gb HyperX</h6>
          <span class="badge bg-dark">Agregar al carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/memoriafury2.webp" class="card-img-top" alt="memoriafury2">
        <hr>
        <div class="card-body">
          <h4>$ 6.799</h4>
          <h6>Memoria ram Fury DDR4 gamer color negro 8gb HyperX Hx456</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/memoriavengeance.webp" class="card-img-top" alt="memoriavengeance">
        <hr>
        <div class="card-body">
          <h4>$ 5.990</h4>
          <h6> Memoria RAM Vengeance LPX gamer color Negro 8GB 1 Corsair</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/memoriafury.webp" class="card-img-top" alt="memoriafury">
        <hr>
        <div class="card-body">
          <h4>$ 5.499</h4>
          <h6>Memoria ram Fury DDR4 gamer color Negro 8gb HyperX</h6>
          <span class="badge bg-danger">Mas vendida</span> <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/placamomotherasusstrikes.webp" class="card-img-top" alt="placa-asus">
        <hr>
        <div class="card-body">
          <h4>$ 13.999</h4>
          <h6>Motherboard Amd Asus Ga B450m Aorus Elite Am4</h6>
          <br>
          <span class="badge bg-danger">Mas vendida</span> 
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>   
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/placamotherasusprime.webp" class="card-img-top"  alt="placa-asus">
        <hr>
        <div class="card-body">
          <h4>$ 8.990</h4>
          <h6>Motherboard Asus prime B450m-a/csm Am4 DDR4 M.2-128</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/placanothergigabyte.webp" class="card-img-top" alt="placanothergigabyte">
        <hr>
        <div class="card-body">
          <h4>$ 12.399</h4>
          <h6>Mother Gigabyte H510m H Intel Lga 1200 10va 11va Gen M2 4k</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/placamotherasusprime.webp" class="card-img-top" alt="placanother-asus">
        <hr>
        <div class="card-body">
          <h4>$ 10.799</h4>
          <h6>Motherboard Asus Prime B450m-a Ii Am4 Ddr4 Hdmi Ryzen Amd</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/procesadorcorei5.webp" class="card-img-top" alt="corei5">
        <hr>
        <div class="card-body">
          <h4>$ 29.000</h4>
          <h6> Procesador gamer Intel Core i5-10600K BX8070110600K de 6 núcleos y 4.8GHz</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/procesadorcorei7.webp" class="card-img-top" alt="corei7">
        <hr>
        <div class="card-body">
          <h4>$ 47.999</h4>
          <h6>Procesador gamer Intel Core i7-10700K BX8070110700K de 8 núcleos y 5.1GHz</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/procesadorryzen5.webp" class="card-img-top" alt="Ryzen5">
        <hr>
        <div class="card-body">
          <h4>$ 33.900</h4>
          <h6>Procesador Amd Ryzen 5 1600 Af Zen+ 12nm Am4 Wraith Stealth</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/procesadorcorei3.webp" class="card-img-top" alt="corei3">
        <hr>
        <div class="card-body">
          <h4>$ 19.900</h4>
          <h6>Procesador Intel Core i3-10100F BX8070110100F de 4 núcleos y 4.3GHz/h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/fuente600atx.webp" class="card-img-top" alt="Fuenteatx">
        <hr>
        <div class="card-body">
          <h4>$ 10.871</h4>
          <h6>Fuente de alimentación para PC ATX Technology Smart RGB Series SPR-700AH2NK</h6>
          <span class="badge bg-danger">Mas vendido</span>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/fuentecorsairvs600.webp" class="card-img-top" alt="fuentecorsairvs600">
        <hr>
        <div class="card-body">
          <h4>$ 6.533</h4>
          <h6>Fuente de alimentación para PC Corsair VS Series VS600 600W black 100V/240V</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/fuentethermaltake.webp" class="card-img-top" alt="fuentethermaltake">
        <hr>
        <div class="card-body">
          <h4>$ 8.549</h4>
          <h6>Fuente de alimentación para PC Thermaltake Technology Smart BX1 Series SPD-650AH2NKB</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-4 col-xl-3 col-xxl-3 p-3 border bg-light">
      <div class="card">
        <img src="../img/componentes/fuente600atx.webp" class="card-img-top" alt="Fuenteatx">
        <hr>
        <div class="card-body">
          <h4>$ 8.990</h4>
          <h6>Fuente de alimentación para PC ATX Technology Smart RGB Series SPR-600</h6>
          <span class="badge bg-dark">Agregar a carrito</span> 
        </div>
      </div>
    </div>    
  </div>
</main>
<br>
<br>

<!--final main-->

  

      <!--final main-->
<!--Inicio de footer-->
<!--<footer class="pieAbajo">-->
  <footer>
    <section id="footer">
      
        <div class="row text-center text-xs-center text-sm-left text-md-left text-light bg-dark mw-100">
          <div class="col-xs-12 col-sm-12 col-md-6 col-l-3 col-xl-3 col-xxl-3 p-3 ">
            <h5>Productos</h5>
            <br>
            <ul class="list-unstyled quick-links">
              <li><a href="../views/notebooks.html" class="text-decoration-none text-secondary">Notebooks</a></li>
              <li><a href="../views/armatupc.html" class="text-decoration-none text-secondary">Arma tu Pc</a></li><!--Aun no tiene asignado el Html-->
              <li><a href="../views/tecladoymouse.html" class="text-decoration-none text-secondary">Perifericos</a></li>
              <li><a href="../views/monitores.html" class="text-decoration-none text-secondary">Monitores</a></li>
              <li><a href="../views/consolasJuegos.html" class="text-decoration-none text-secondary">Consolas</a></li>
              <li><a href="../views/consolasJuegos.html" class="text-decoration-none text-secondary">juegos</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-l-3 col-xl-3 col-xxl-3 p-3">
            <h5>Nosotros</h5>
            <br>
            <ul class="list-unstyled quick-links">
              <li><a href="../views/nosotros.html" class="text-decoration-none text-secondary">¿Quienes Somos?</a></li>
              <li><a href="https://goo.gl/maps/SGxYZS8WstGoUvkN7"class="text-decoration-none text-secondary">ubicacion</a></li>
              <li><a href="#" class="text-decoration-none text-secondary">Telefono: 11-34481610</a></li>
              <li><a href="#" class="text-decoration-none text-secondary">Horarios: lunes a viernes de 9 a 20hs</a></li>   
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-l-3 col-xl-3 col-xxl-3 p-3">
            <h5>Nuestras Redes</h5>
            <br>
            <ul class="list-unstyled list-inline social text-center ">
              <li class="list-inline-item "><button class="btn btn-outline-primary">
                  <a class="fab fa-facebook-square" href="https://es-la.facebook.com/"></a>
              </button></li>
              <li class="list-inline-item"><button class="btn btn-outline-danger">
                  <a class="fab fa-instagram-square" href="https://www.instagram.com/?hl=es"></a>
              </button></li>
              <li class="list-inline-item"><button class="btn btn-outline-primary">
                  <a class="fab fa-twitter" href="https://twitter.com/?lang=es"></a>
              </button></li>
              <li class="list-inline-item"><button class="btn btn-outline-danger">
                  <a class="fab fa-youtube" href="https://www.youtube.com/"></a>
              </button></li>              
              
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-l-3 col-xl-3 col-xxl-3  p-3">        
            <h5>Comentarios</h5>
            <br>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@informaticagaming">escribinos @informaticagaming</button>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">Nuevo Mensaje</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label text-secondary">Destinatario:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="mb-3">
                        <label for="message-text" class="col-form-label text-secondary">Mensaje:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center text-xs-center text-sm-left text-md-left text-light bg-dark mw-100">
          <div class="col-xs-12 col-sm-12 col-md-12 col-l-12 col-xl-12 col-xxl-12 p-3 ">
            <p class=" text-center text-secondary">Derechos reservados @E-Gaming Arg</p>
          </div>
        </div>	
      
    </section>
  </footer>
          <!--final del footer-->
         
         <!--ScriptJ JS-->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> <!-- CDN de Bootstrap del JS -->
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script><!-- CDN de Jquery-->
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> <!-- CDN de la librería de Popper  -->
           
</body>
</html>